<div class="full">



  <div class="jumbotron col-md-5">
  <h1>Welcome to REFIND!</h1>
  <p>Here you can find refugees, look for information and inclusion recomendations</p>


<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#refModal">
    Refugees
  </button>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#orgModal">
    Organizations
  </button>

</div>



  <!-- Modal -->
  <div class="modal fade" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Organizations</h2>
        </div>
        <div class="modal-body">
          <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_org_path) do |f| %>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="inner-addon left-addon">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="inner-addon left-addon">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </span>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="text-center">
                <%= f.submit("Log in", class: "btn btn-primary btn-lg") %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= link_to "Don't have an account? Sign up!" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Organizations</h2>
      </div>
      <div class="modal-body">
        <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_ref_path) do |f| %>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="inner-addon left-addon">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  </span>
                  <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="inner-addon left-addon">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                  </span>
                  <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <%= f.submit("Log in", class: "btn btn-primary btn-lg") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to "Don't have an account? Sign up!" %>
      </div>
    </div>
  </div>
</div>
</div>
