<div class="container">
  <!--<h1 align="center" class="sub-title">Organizations</h1>-->
  <div align="center">
    <div class="inner-addon left-addon search-box">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" id="search" placeholder="Search" autocomplete="off" class="form-control center-block">
    </div>
  </div>
  <div>
  <br>
  <div class="row">
    <% @organizations.each do |org| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag "profile.png", class: "list-image" %>
              <div class="caption">
                <h3><%= org.name %></h3>
                <p><strong>Contacto telefónico:</strong> <%= org.contact %></p>
                <p><strong>Email:</strong> <%= org.email %></p>
                <p><strong>Morada:</strong> <%= org.address %></p>
                <div class="text-center">
                  <%= link_to "See profile", organization_path(org.id), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
