<div class="container">
  <strong><%= @organization.name %></strong> <br>
  Contacto telefónico: <%= @organization.contact %><br>
  Email: <%= @organization.email %><br>
  Morada: <%= @organization.address %><br>
  Description: <%= @organization.description %><br>
</div>
