<div class="innerStyle">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%= form_for @refugee do |f| %>
                <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon  spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                <%= f.text_field :name, class: "form-control", placeholder: "Enter name", autofocus: true %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5 col-tm-offset-2">
                        <div class="inner-addon left-addon spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                  </span>
                                <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </span>
                                <%= f.date_field :birthday, class: "form-control", placeholder: "Enter birth date", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                <label> Male </label><%= f.radio_button :gender, "0" %>
                                <label> Female </label><%= f.radio_button :gender, "1" %>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                </span>
                                <%= f.text_field :nationality, class: "form-control", placeholder: "Enter your nationality", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon  spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </span>
                                <%= f.text_field :address, class: "form-control", placeholder: "Enter your adress", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon  spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </span>
                                <%= f.email_field :email, class: "form-control", placeholder: "Enter your email", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon  spacing-top">
                            <div class="input-group">
                                <div class="col-sm-8 well">
                                <h2>
                                Skills
                                </h2>
                                  <% Skill.all.each do |s| %>
                                    <%= f.check_box(:skills, { :multiple => true }, s.id, nil) %>
                                    <label><%= s.name %></label>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon  spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                </span>
                                <%= f.text_field :phone, class: "form-control", placeholder: "Enter your phone", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group spacing-bottom">
          	        <div class="col-sm-6 col-sm-offset-1.5">
          	            <div class="inner-addon left-addon  spacing-top">
          	                <div class="input-group">
          	                    <span class="input-group-addon" id="basic-addon1">
          	                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          	                    </span>
                                <%= f.file_field :avatar, required: true %>
          	                </div>
          	            </div>
          	        </div>
          	    </div>
              </div>

                <div class="form-group spacing-bottom">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon  spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                                </span>
                                <%= f.collection_select :degree_id, Degree.all, :id, :name %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group spacing-bottom" style="">
                    <div class="col-sm-6 col-sm-offset-1.5">
                        <div class="inner-addon left-addon spacing-top">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                                </span>
                                <%= f.text_field :additional_info, class: "form-control", placeholder: "You can use this field for adding some more info about yourself", autocomplete: "off" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacing-top" >
                <div class="form-group">
                    <div class="text-center spacing-top">
                        <%= f.submit("Sign Up", class: "btn btn-primary btn-lg") %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
