<!DOCTYPE html>
<html>
  <head>
    <title>Hackforgood</title>
    <%= csrf_meta_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'jobs/modal_form' if session[:org_id] != nil %>
    <% if !(defined? @hide_nav) %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
